.portfolio__container{
    overflow-x: auto; /* Enable horizontal scrolling */
    
    width: 100%;/* Set the desired width for the container */
    /*display: flex; /* Added to make the container a flex container 
    align-items: flex-start; /* Added to align items at the top */

    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 3rem;
  
    background:var(--color-primary-variant);
    
    border-radius: 2rem;
   
}
#portfolio h5{
    color: var(--color-white);
    text-shadow: 1px 1px 2px var(--color-primary-variant);
    font-size: 0.9rem;
}
.project { 
    width: 300px;
    height: 200px;
    margin: 5px 10px 10px 15px;
    display: flex; /* Added to make children flex items */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
}

.links {
    margin-right: 10px

}
.links a {
  
    margin: 5px;
    align-items: center
}

.portfolio__container:hover{
    background: linear-gradient(45deg, var(--color-primary-variant), var(--color-primary));
    color: var(--color-white)
}

.portfolio__container h6{
    text-align: center;
}
.portfolio__container h3{
    margin-top: 90px;
    margin-left: 10px;
}

.project__description{
    max-width: 100%;
    overflow-wrap: break-word;
    justify-content: center; 
    overflow: hidden;
    
    
}

.portfolio__item {
    background: linear-gradient(45deg, var(--color-primary-variant), var(--color-primary));
    color: var(--color-white);
    border-color: var(--color-primary);
    padding: 1.3rem 1rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    
    width: 300px;
    height: 200px;
    margin-right: 20px;
    display: flex; /* Added to make children flex items */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */

}

.portfolio__item:last-child {
    margin-right: 0;
}

.portfolio__item:hover{
    background: var(--color-bg-variant);
    border-color: var(--color-primary-variant);
    color: var(--color-primary)
    
}



.portfolio__item-image {
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  /* Adjust image size for visibility */
.portfolio__item-image img {
    max-width: 100%; /* Ensure images don't exceed the container width */
    max-height: 100%; /* Adjust the maximum height as needed for visibility */
  }
  
  .portfolio__item h6{
    font-size: 8px; /* Adjust the font size of text as needed */
  }

  .portfolio__icon{
    margin-top: 90px;
    
}

.github__link{
    margin-top: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}


/* ===========  media queries (medium devices: tablets)*/
@media screen and (max-width: 1024px) {
    .project__description{
       align-content: center; }
}

/* ===========  media queries (small deivces: mobile phones)*/
@media screen and (max-width: 600px) {
    .project__description{
        width: 75%;
        margin: 5rem;
        justify-content: center; 
        align-items: center; }
 }
 
