.container.contact__container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12rem;

}

.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem; 
}

.contact__option{
    background: var(--color-primary-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 2px solid var(--color-primary);
    transition: var(--transition);
}

.contact__option:hover{
    background: var(--color-primary);
    border-color: var(--color-primary-variant);
    color: var(--color-bg-variant);
    
    
}

.contact__option-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact__option a{
    margin-top: 0.7rem;
    display: inline-block;
    width: fit-content;
    color: var(--color-white)
}


/* ---------FORM -------------*/
form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}


  
input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: var(--color-bg-variant);
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-primary)
}

#contact h5{
    color: var(--color-white);
    text-shadow: 1px 1px 2px var(--color-primary-variant);
    font-size: 0.9rem;
}

/* ===========  media queries (medium devices: tablets)*/
@media screen and (max-width: 1024px) {
        .contact__option{
            width: fit-content;
            overflow: auto;
            font-size: 0.6rem;
            gap:2rem;
            
    
        }
    
        .form{
            width:fit-content;
            gap:2rem;
         }
         
     
}
 
 /* ===========  media queries (small deivces: mobile phones)*/
 @media screen and (max-width: 600px) {
    .contact__option{
        width: fit-content;
       

    }

    .form{
        width:50vh;
        gap:2rem;
     }
     
     .container.contact__container{
        width: 58%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    
    }
 }