.experience__container {
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap:2rem;
}

.experience__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
   
}

.experience__title{
    background: var(--color-primary);
    border-radius:  0 0 2rem 2rem;
    box-shadow: 3px 3px 5px #E49109;
    color: var(--color-bg-variant);
    text-align: center;
    font-size: 1rem;
}




.experience__container > div {
    background-color:var(--color-primary-variant);
    padding: .3rem 5rem;
    border-radius: 2rem;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    box-shadow: 3px 3px 5px #E49109;
    transition: var(--transition);
}

.experience__container > div:hover {
    background: var(--color-primary);
    border-color: var(--color-primary-variant);
    cursor: pointer;
    color: var(--color-bg-variant);
    
}



#experience h5{
    color: var(--color-white);
    text-shadow: 1px 1px 2px var(--color-primary-variant);
    font-size: 0.9rem;
}



.experience__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience__details {
    display: flex;
    gap: 2rem;
}

.experience__details-icon {
    margin-top: 2px;
    color: var(--color-bg-variant);
    font-size: 0.7rem;

}


/* ===========  media queries (medium devices: tablets)*/
@media screen and (max-width: 1024px) {
    .experience__container{
        grid-template-columns: 1fr;
     }
 
     .experience__container > div {
        width: 80%;
        padding: .2rem;
        margin: 0 auto;
     }
 
     .experience__content{
        padding: 1rem;
     }
 
 }
 
 /* ===========  media queries (small deivces: mobile phones)*/
 @media screen and (max-width: 600px) {
     .experience__container{
        gap: 1rem;
     }
 
     .experience__container > div {
        width: 100%;
        padding: .2rem 1rem;
        margin: 0 auto;
     }
 
     
 }

 